@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald:400,300,700);
/*@import 'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';*/

* {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    color: #fff;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background: #1d2128;
}

h3 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.5em;
}

ul {
    list-style: none;
}

#footer {
    min-height: 100px;
}

.section {
    position: relative;
    width: 100vw;
    text-align: center;
    min-width: 300px;
}

.section h1 {
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 2.4em;
}

.section > span {
    display: inline-block;
    margin-top: 15px;
    width: 250px;
    height: 2px;
    background: #fff;
}

.section-center {
    position: relative;
    display: block;
    background: rgba(255, 255, 255, 0.03);
    width: 50%;
    text-align: left;
    border-left: 10% solid;
    border-right: 10% solid;
    margin: 15px auto;
    padding: 15px;
}
/*************************/
/*****Section Specific****/
/*************************/

#skillsDisplay {
    display: inline-block;
}

#skillsDisplay h3 {
    text-align: center
}

#skillsLegend {
    display: inline-block;
}

#skillsChart {
    margin: 15px;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-right: 20px;
}

.doughnut-legend {
    float: left;
    width: 200px;
    height: 200px;
    list-style: none;
    font-size: 14px;
    display: inline-block;
}

.doughnut-legend li * {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.doughnut-legend li {
    margin: 5px;
    display: block;
}

.doughnut-legend li div {
    font-size: 1em;
    width: 3em;
}

.doughnut-legend li span {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
}
/*************************/

.super-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.super-layer * {
    position: relative;
}

#jumbo {
    background-image: url("../res/img/atl-night.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
}

#op-layer {
    background: rgba(35, 25, 25, 0.3);
}

#super-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#super-center h1 {
    color: #fff;
    font-size: 3em;
    text-align: center;
}

#super-center p {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

#contact-section {
    min-height: 300px;
    width: 100%;
    overflow: hidden;
}

#contact-form {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    text-align: center;
}

#contact-form span {
    display: inline-block;
    width: 250px;
    height: 2px;
    margin-bottom: 15px;
    background: #fff;
}

#contact-form h1 {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.field {
    height: 40px;
    margin-bottom: 20px;
    transition: all .3s ease-in-out;
    width: 300px;
}

.field * {
    border: none;
    height: 40px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 300px;
}

.field-expanded.message-box {
    height: 200px!important;
}

.field .text-area {
    background-color: #313a3d
    /*#322d29*/
    
    ;
    color: #827e75;
    font-size: 12px;
    transform: translateX(0px);
    -webkit-transition: all 0.3s ease-in-out;
}

.field input:focus {
    outline: none;
}

.field label {
    background-color: #313a3d;
    color: #fff;
    font-size: 1.45em;
    letter-spacing: 0.075em;
    text-align: center;
    transform: translateX(0px);
    -webkit-transition: all 0.3s ease-in-out;
}

.field-expanded label {
    background-color: #902727;
    transform: translateX(-75px);
    -webkit-transition: all 0.3s ease-in-out;
    width: 150px;
}

.field-expanded .text-area {
    background: #322d29;
    padding-left: 15px;
    transform: translateX(75px);
    -webkit-transition: all 0.3s ease-in-out;
}

.field-expanded #message {
    height: 200px;
    padding: 15px;
    padding-right: 15px;
    resize: none;
}

.contact-submit {
    background-color: #313a3d;
    border: none;
    color: #fff;
    font-size: 1.45em;
    height: 40px;
    letter-spacing: 0.075em;
    margin-left: 50%;
    transform: translateX(-50%);
    outline: none;
    width: 100px;
}

.contact-submit:hover {
    background-color: #902727;
    -webkit-transition: all .1s ease-in-out;
}

.contact-submit:active {
    transform: scale(1.05) translateX(-50%);
    -webkit-transition: all .1s ease-in-out;
}
/* Timeline */

.timeline {
    margin: -15px;
    border-left: 4px solid #c95600;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 30px;
    text-align: left;
    font-weight: 1;
}

.timeline .event {
    border-bottom: 1px dashed #fff;
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
}

.timeline .event h3 {
    line-height: 1.4em;
}

.timeline .event div {
    margin-top: 10px!important;
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -230px;
    color: #fff;
    content: attr(data-date);
    font-weight: 400;
    font-size: 0.9em;
}

.timeline .event:after {
    box-shadow: 0 0 0 4px #c95600;
    left: -57.85px;
    background: Transparent;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}

@media (max-width: 800px) {
    .section-center {
        width: 100%;
    }
    .timeline {
        max-width: 100%;
    }
    .timeline .event:after {
        display: none
    }
    .timeline .event:before {
        left: -0.5px;
        top: 28px;
        background-color: #4298c3;
        color: white;
        padding: 2px 8px 2px 8px;
        content: attr(data-date);
        text-align: left;
        font-weight: 400;
        font-size: 0.9em;
        min-width: 120px;
    }
    .timeline .event div {
        top: 27px;
        padding: 10px 0px 10px 0px;
        position: relative;
    }
    #skillsChart {
        margin-left: 50%;
        transform: translateX(-50%);
    }
    #skillsLegend {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}