*{
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

div{
	/*border: 1px solid red;*/
    /*outline: 1px solid red;*/ 
}

.wide-section{
	width: 100vw;
}

#header{
}

#header-jumbotron{
    /*background-color: coral;*/
    background-image: url("../res/img/mountain.jpg");
    background-size: 100% auto;
    -webkit-filter: blur(3px) grayscale(80%) contrast(1.5) saturate(2);
    height: 500px;
}

#jumbotron-bar{
    position: absolute;
    top:0;
    height: 75px; 
    width: 100%;
    background-color: #373737;
    opacity: 0.2;
}

#footer{

}